{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
<h1>Affichage de la page de la note.</h1>


    <h3>{{ note[0].title }}</h3>
    <p><i>{{ note[0].slug }}</i></p>
    <p>{{ note[0].content }}</p>
    <p>Vus : {{ note[0].views }}</p>


{% endblock %}
