{% extends 'base.html.twig' %}

{% block title %}{{ note.title }}{% endblock %}

{% block body %}
<h1>{{ note.title }} </h1>
{{ dump(note) }}
<a href="{{ path('app_note_all') }}">Retour</a>
{% endblock %}
