<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - CodeXpress</title>
        <link rel="icon" href="">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body >
        {{ include('components/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('components/footer.html.twig') }}
    </body>
</html>
