<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - CodeXpress</title>
        <link rel="icon" href="">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}
    </head>
    <body>
    
        {% block body %}{% endblock %}
    </body>
</html>
